/* general website font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Hind:wght@700&family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* clearing default styles */
* {
    margin: 0;
    padding: 0;
}

:root {
    --brand-accent-color: #7bb57c;
    --background-light-color: #fff;
    --background-shade-color: #f7f5f6;
    --text-header-color: #333;
    --plain-text-color: #707070;
    --top-brands-span-text-color: #757171;
    --top-brands-h2-text-color: #333333;
    font-family: 'Poppins', sans-serif;
    --border-color: rgba(33, 39, 54, 0.12);
}

form {
    text-rendering: auto;
    width: 400px;
    padding: 60px;
}

input {
    padding: 20px 30px;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 5px;
    border-color: #757171;
}

img {
    max-width: 100%;
    height: auto;
}