/* contacts block */
.contacts_block {
    color: var(--top-brands-h2-text-color);
    font-weight: 400;
    padding: 15px 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
}
.contacts_block_form {
    padding: 60px;
}
.contacts_form {
    background-color: var(--background-shade-color);
    display: flex;
    flex-direction: column;
}
.btn-contacts {
    margin-top: 56px;
}
.contacts_text {
    color: var(--plain-text-color);
}
.contacts_bold {
    color: var(--top-brands-h2-text-color);
}
.contacts_bold_mail {
    color: var(--text-footer-bold-color);
}
.contacts_block_info {
    padding: 0 15px;
    font-size: 140%;
}
.contacts_text_header {
    width: 550px;
}
@media(max-width: 992px){
    .contacts_block{
        display: flex;
        flex-direction: column;    
    }
}