.logo-sofa-header {
    max-width: 1600px;
    margin: auto;
    background-image: url('../img/background_chair.jpg');
    background-size: 1600px;
    background-repeat: no-repeat;
}
.container-fluid {
    width: 1200px !important;
    margin-top: 15px;
    margin-bottom: 15px;
}
.navbar-collapse {
    flex-grow: 0;
}
.navbar-nav {
    align-items: center;
}
.nav-link {
    color: #333 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.nav-link:hover {
    color: rgb(123, 181, 124) !important;
}
.nav-link__btn {
    display: block;
    width: 103px;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    border: 2px solid rgb(123, 181, 124);
    border-radius: 5px;
    padding: 10px;
}
.nav-link__btn:hover {
    color: white;
    background-color: rgb(123, 181, 124);
}
.color-green {
    color: var(--brand-accent-color);
}
.header__banner {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 155px;
    padding-bottom: 330px;
}
.header__banner-h1 {
    line-height: 92.4px;
    font-size: 84px;
    margin-bottom: 50px;
    font-weight: 700;
}
.subheader {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.header__banner-link-button {
    display: block;
    box-sizing: border-box;
    margin-top: 70px;
    padding-top: 17px;
    width: 255.67px;
    height: 55.19px;
    font-size: 13.2px;
    font-weight: 700;
    color: white;
    background-color: var(--brand-accent-color);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}
.header__banner-link-button:hover {
    background-color: #242424;
    color: white;
}
.products-furniture {
    display: flex;
    margin: 50px auto;
    max-width: 1200px;
}
.products-furniture-img {
    display: block;
    width: 100%;
}
.products-furniture div {
    padding-right: 30px;
}
.link__products-button {
    font-size: 12px;
    font-weight: 400;
    color: #242424;
    text-decoration: none;
}
.link__products-button:hover {
    text-decoration: underline;
    color: #242424;
}
.products-furniture h3 {
    font-size: 1.45rem;
    font-weight: 500;
    color: #333333;
    padding-top: 15px;
}
@media (max-width: 320px) {
.products-furniture {
    flex-direction: column;
    margin-left: 10px;
    margin-top: -130px;
    }
.header__banner{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-top: 0;
}
.header__banner-h1 {
    line-height: 3.2rem;
    font-size: 3.2rem;
}
}
@media (max-width: 768px) {
    .products-furniture {
    flex-direction: column;
    margin-left: 10px;
    }
}
@media(max-width: 576px) {
    .header__banner-h1 {
        line-height: 3.5rem;
            font-size: 3.5rem;
    }
}
