/*Sabina's css start*/

/* spring collection*/

.fast-order {
    margin-top: 30px;
    padding: 10px;
}

.modal-window-spring2020 {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-spring2020 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    gap: 20px;
}

.close-modal-window-spring2020 {
 color: #aaa;
 float: right;
 font-size: 28px;
}

.item-spring2020-p {
    margin-top: 20px;
}

.price-item-spring2020 {
    padding: 5px;
    border: 1px solid;
    border-color: #888;
    margin-top: 20px;
    display: block;
    float: right;
    background-color: var(--brand-accent-color);
}

.collection2020 p, h2 {
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.springcollection__2020 {
    display: block;
    color: var(--brand-accent-color);
}

.springcollection {
    background-image: url(../img/collection/spring-collection-background.jpg);
    background-size: cover;
    padding: 100px 0;
    background-position: 40.63% 51.66%;
    background-attachment: fixed;
}

.springcollection__header-h2 {
    font-size: 58px;
    font-weight: 700;
    width: 100%;
    line-height: 63.8px;
    overflow-wrap: break-word;
    letter-spacing: 0;
}

.collection2020 {
    color: var(--text-header-color);
    padding: 100px 0; 
}

.springcollection__subheader-p {
    margin-top: 35px;
    font-size: 18px;
    line-height: 28.08px;
    width: 100%;
}

.springcollection-block-content {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    width: 100%;
}

.springcollection-2020 {
    max-width: 1200px;
    padding: 0 24px;
}

/* .clock {
    font-size: 56px;
} */

/*furniture collections*/

.furniturecollections {
    padding: 0 24px;
}

.furniturecollection {
    background-size: cover;
    background-position: 10% 47.57%;
    width: 100%;
}

.furniture {
    padding-top: 90px;
    padding-bottom: 50px;
    max-width: 1200px;

}

.colorful {
    background-image: url(../img/collection/colorful-collection-background.jpg);
    width: 100%;
}

.blackwhite {
    background-image: url(../img/collection/black-white-collection-background.jpg);
    margin-top: 50px;
    width: 100%;
}

.furniturecollections-block-content {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 39px 27px;
    width: 100%;
}

.furniturecollection__colorful-p {
    color: var(--colorful-block-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 18.62px;
    letter-spacing: 0.896px;
    max-width: 100%;
}

.furniturecollection__colorful-header {
    font-size: 22px;
    line-height: 28.6px;
    font-weight: 500;
    color: var(--text-header-color);
    margin-top: 20px;
    width: 100%;
}

.furniturecollection__colorful-subheader {
    color: var(--plain-text-color);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 24px;
    max-width: 100%
}

.furniturecollection__blackwhite-p {
    color: var(--black-white-block-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 18.62px;
    letter-spacing: 0.896px;
    max-width: 100%;
}

.furniturecollection__blackwhite-header {
    font-size: 22px;
    line-height: 28.6px;
    font-weight: 500;
    color: var(--background-light-color);
    margin-top: 20px;
    width: 100%;
}

.furniturecollection__blackwhite-subheader {
    color: var(--background-light-color);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 24px;
    max-width: 100%
}

/* button */

.springcollection__button {
    background-color: var(--brand-accent-color);
    margin-top: 35px;
    text-align: center;
    border-radius: 5px;
    width: 154.188px;
    padding: 20px 30px;
    text-decoration: none;
    border-color: transparent;
    border-width: 2px;
    box-shadow: 0 3px 10px 0 rgb(39 37 40 / 28%);
}

.springcollection__button:hover, .furniturecollection__button:hover{
    background-color: var(--text-header-color);
    transition: color .2s ease-in, background-color .2s ease-in, border-color .2s ease-in, box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
}

.springcollection-link-button:hover, .furniturecollection-link-button:hover{
    color: var(--background-light-color);
}

.blackwhite-btn:hover {
    box-shadow: 1px 1px 20px 4px rgba(238, 238, 238, 0.5);
}

.springcollection-link-button {
    display: block;
    color: var(--background-light-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-family: Hind, sans-serif;
    line-height: 12px;
    width: 100%;
}


.furniturecollection__button {
    background-color: var(--brand-accent-color);
    margin-top: 35px;
    text-align: center;
    border-radius: 5px;
    width: 145.562px;
    padding: 16px 24px;
    border-color: transparent;
    border-width: 2px;
    box-shadow: 0 3px 10px 0 rgb(39 37 40 / 28%);
}

.furniturecollection-link-button {
    display: block;
    color: var(--background-light-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10.8px;
    font-family: Hind, sans-serif;
    line-height: 10.8px;
}

/* media */

@media(min-width: 480px) {
    .springcollection__2020 {
        display: inline;
    }
}
@media(min-width: 768px) {
    .springcollection__header-h2{
        font-size: 71px;
        line-height: 78.1px;
        overflow-wrap: break-word;
    }
    .springcollection-2020{
        padding: 0 32px;
    }
    .springcollection-block-content{
        margin: 0 -15px;
        padding: 0 15px;
        max-width: 58.33333%;
    }
    .furniture{
        padding-top: 95px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .furniturecollections{
        padding: 0 0;
        display: flex;
        margin: 0 -15px;
    }
    .furniturecollection {
        margin: 0 15px;
    }
    .furniturecollections-block-content {
        padding: 46px 28px;
    }
}
@media(min-width: 992px){
    .springcollection {
        padding-top: 170px;
        padding-bottom: 180px;  
        max-width: 100%;
    }
    .springcollection-2020{
        padding: 0 40px;
    }
    .springcollection__header-h2{
        font-size: 84px;
        line-height: 92.4px;
    }
    .springcollection__2020{
        display: inline;
    }
    .springcollection-block-content{
        max-width: 60%;
    }
    .furniture{
        padding: 100px 40px 50px 40px;
    }
    .furniturecollections-block-content{
        padding: 60px 30px;
    }
    .furniturecollection__button{
        margin-top: 40px;
    }
}
@media(min-width: 1200px){
    .springcollection__subheader-p{
        margin-top: 40px;
    }
    .springcollection__button{
        margin-top: 40px;
    }
}
@media(min-width: 1280px){
    .springcollection-2020{
        padding: 0 15px;
        margin: 0 auto;
    }
    .furniture{
        padding-left:15px;
        padding-right: 15px;
        margin: 0 auto;
    }
}
/*Sabina's css end*/

/*Kyrylo css start*/

.main_our-fave {
    background-color: var(--top-brands-background-color);
    padding: 10px;
    margin: 15px 15px 30px 15px;
}

.tab_our-fave button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab_our-fave button:hover {
    background-color: #ddd;
}

.tabcontent_our-fave {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.our-fave-h2-h2 {
    text-align: center;
    font-size: 36px;
}

.our-favep-p {
    text-align: center;
    margin: 15px;
}

.tabcontent_our-fave {
    display: flex;
    justify-content: flex-start;
    background-color: var(--background-light-color);
    min-width: 320px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 24px;
}

.content_our-fav {
    padding: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    max-width: 100%;
    padding: 46px 28px;
}

@media (min-width: 400px) {
    .tabcontent_our-fave {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 640px) {
    .tabcontent_our-fave {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 880px) {
    .btabcontent_our-fave {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.price_our-fave {
    color: rgb(125, 175, 125);
}
/*Aleksandr's css start*/
.our-top-brands__kuko_img,
.our_top_brands__landstrom-img {
    max-width: 100%;
    padding-right: 20px;
    max-height: 100%;
    padding: 8px 15px 8px 15px;
}

.main__our-top-brands {
    background-color: var(--top-brands-background-color);
    padding: 10px;
    margin: 15px 15px 30px 15px;
}

.top-brands__conteiner-kuko,
.top-brands__conteiner-landstrom {
    max-width: 1700px;
    margin: auto;
    padding: 30px;
    margin: 20px 20px 50px 20px;
}

.top-brands__kuko,
.top-brands__landstrom {
    margin: 7px 25px 25px 25px;
    padding: 15px 15px 15px 15px;
}

@media (min-width: 640px) {
    .top-brands__kuko {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 640px) {
    .top-brands__landstrom {
        max-width: 150%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.top-brands__span {
    margin: 15px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--top-brands-span-text-color);
}

.top-brands__h2 {
    margin: 15px;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-family: 600;
    font-weight: 600;
    color: var(--top-brands-h2-text-color);
}

.top-brands__subheader {
    margin: 20px 20px 40px 20px;
    font: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--plain-text-color);
}

.our_top_brands__link {
    text-decoration: none;
}

.btn__ {
    margin: 20px;
    padding: 8px;
    border-width: 2px;
    border-radius: 5px;
    border-color: var(--brand-accent-color);
    border-style: solid;
}

.btn__:hover {
    background: var(--brand-accent-color);
}

.btn__ span:hover {
    background: var(--brand-accent-color);
}

.btn span:hover {
    color: var(--background-light-color);
}

.our_top_brands__link span {
    font: 10.8px Hind, sans-serif;
    color: var(--top-brands-span-text-color);
    text-align: center;
    padding: 10px 30px 10px 30px;
}

/*Aleksandr's css end*/

/*Anna's block start*/
.what {
    background-color: var(--background-shade-color);
    padding: 70px 0px 90px 0px;
}
.what__text {
    padding: 0px 15px;
    text-align: center;
}

.what__text-header {
    color: var(--text-header-color);
    font-size: 30px;
    font-weight: 600;
}

.what__text-header-content {
    color: var(--text-header-color);
    font-size: 18px;
    font-weight: 400;
}

.what__feedback-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(309px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--background-shade-color);
    padding: 0px 15px;
}

.what__feedback-content > li {
    border: 1px solid var(--border-color);
    background-color: var(--background-light-color);
}

.what__customer-photo {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}


.what__feedback-content-name {
    color: var(--text-header-color);
    font-size: 22px;
    font-weight: 500;
}

.what__feedback-content-city-data {
    color: var(--text-header-color);
    font-size: 14px;
    font-weight: 500;
}

.what__feedback-content-text {
    color: var(--plain-text-color);
    font-size: 16px;
    font-weight: 400;
}

.about {
    background-color: var(--background-light-color);
    padding: 90px 15px 50px 15px;
    align-items: center;
    display: grid;
    gap: 30px;
    justify-content: center;
}

@media (max-width: 767px) {
    .about {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .about {
        grid-template-columns: 1fr 1fr;
    }
}

.about__text {
    background-color: var(--background-shade-color);
    font-size: 14px;
    font-weight: 500;
    color: var(--top-brands-span-text-color);
    padding: 30px;
}

.about__text-header {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-header-color);
}

.about__accordion-title {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-header-color);
    left: 0;
    position: absolute;
    width: 90%;
    display: inline-block;
    margin: 5px 0;
    text-align: left;
}

.about__accordion-content {
    font-size: 18px;
    font-weight: 400;
    color: var(--plain-text-color);
    line-height: 1.5;
    margin: 10px 0 0 0;
}

.about__accordion-detail {
    border-bottom: 1px solid var(--border-color);
    margin: 20px 0 0 0;
    padding: 5px 0 20px 0;
}

.about__accordion-summary:hover,
.about__accordion-summary:active {
    color: var(--text-header-color);
    cursor: pointer;
}

.about__accordion-detail[open]>.about__accordion-summary {
    font-weight: 700;
}

.about__accordion-summary {
    display: block;
    padding: 0;
    position: relative;
    text-align: right;
}

.about__accordion-summary:after {
    display: inline-block;
    width: 18px;
    content: url("https://www.svgrepo.com/show/79989/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: right center;
    text-align: right;
    padding-bottom: 20px;
}

details[open] .about__accordion-summary:after {
    display: inline-block;
    width: 18px;
    height: 10px;
    content: "";
    background-image: url("https://www.svgrepo.com/show/79989/down-arrow.svg");
    transform: scaleY(-1);
}

.about__accordion-summary:focus {
    color: var(--text-header-color);
    font-weight: 700;
    outline: none;
}

.about__pic {
    display: block;
    width: 100%;
}

/*Anna's block end*/
/*Olga's block start*/
.blog_main {
    padding-top: 40px;
    padding-bottom: 100px;
}

.blog__title {
    font-size: 38px;
    text-align: center;
}

.blog__text {
    font-size: 18px;
    min-width: 320px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.blog_posts {
    display: block;
    border: 1px solid;
    border-color: var(--border-color);
}

.blog__post-text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    display: flex;
    height: 450px;
    width: 100%;

    align-items: center;

}

.iconify {
    color: var(--brand-accent-color);
    font-size: 2.2em;
}

.options_section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-color: var(--background-shade-color);
    min-width: 320px;
}

.options {
    padding: 90px 15px 100px 15px;
}

/*Olga's block end*/
/*Nataliia block start*/

.top-colection-h {
    padding: 100px;
    text-align: center;
    color: rgb(125, 175, 125);
    font-size: 56px;
    font-weight: 700;
}

.best__selling-h3 {
    text-align: center;
    font-size: 36px;
}

.best__selling-p {
    text-align: center;
    margin: 15px;
}

.best__selling-locations {
    display: flex;
    justify-content: flex-start;
    background-color: var(--background-light-color);
    min-width: 320px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 24px;

}

.location {
    padding: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: auto; 
    max-width: 100%;
    padding: 46px 28px;
}

@media (min-width: 400px) {
    .best__selling-locations {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 640px) {
    .best__selling-locations {
        grid-template-columns: 1fr 1fr;

    }
}

@media (min-width: 880px) {
    .best__selling-locations {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 

.location__price {
    color:rgb(125, 175, 125);
}

/*Nataliia block end*/
