/* Maria block */
.contacts_block {
    color: #333333;
    font-weight: 400;
    padding: 115px 0;
}
.contacts_form {
    background-color: #F7F5F6;
    display: flex;
    flex-direction: column;
}
.contacts_text {
    color: #707070;
}
.contacts_bold {
    color: #333333;
}
.contacts_bold_mail {
    color: #242424;
}